* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 4px;
    margin-left: 4px;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    display: block;
    padding: 10px 15px;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
}

.image-text {
    max-width: 500px;
}

.image {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin-right: 15px;
}

p {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}


.table {
    width: 100%;
}

.row {
    display: block;
}

.cell {
    display: inline-block;
    width: 33.33%;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: lightcoral;
    color: white;
    border: none;
    cursor: pointer;
}

