* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header, .footer {
    background: #ccc;
    padding: 1em;
}
.main-layout {
    display: flex;
    flex: 1;
}
.left, .right {
    width: 200px;
    background: #eee;
}
.center {
    flex: 1;
    background: #f9f9f9;
    padding: 1em;
}