* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  section {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#042104;
    animation: animateBgColor 10s linear infinite;
  }
  
  @keyframes animateBgColor {
    0% {
      filter: hue-rotate(0deg)
    }
    100% {
      filter: hue-rotate(360deg)
    }
  }
  
  .loader {
    position:relative;
  }
  
  .loader span {
    position:absolute;
    top:0;
    width:200px;
  /*   height:2px; */
  /*   background:#fff; */
    /* 此属性定义多个旋转的轴    */
    transform-origin:right;
    left:-200px;
    transform: rotate(calc(-18deg * var(--i)));
  }
  
  .loader span::before {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    background:#00ff0a;
    border-radius:50%;
    animation:animate 2s linear infinite;
    animation-delay: calc(-0.1s * var(--i));
    box-shadow: 0 0 10px #00ff0a,
      0 0 20px #00ff0a,
      0 0 40px #00ff0a,
      0 0 60px #00ff0a,
      0 0 80px #00ff0a,
      0 0 100px #00ff0a;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0) scale(0.5)
    }
    50% {
      transform: translateX(200px) scale(1)
    }
    100% {
      transform: translateX(0) scale(0.5)
    }
  }
  