* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: #eee;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
  }